
### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Add custom DLL ###
!VoicemeeterRemote64.dll